<div class="global-jumbotron" id="poem_details">
	<% if policy(poem).edit? %>
		<%= render partial: 'layouts/forms/global_one_centered_half_width_button_only_form', locals: { action: edit_user_poem_path(poem.author, poem), method: :get, content: "#{fa_icon("pencil-square-o")} Edit" } %>
	<% end %>
	<div class="align-left global-divider-top" id="poem_body"><%= raw(convert_whitespace_to_html_in(poem.body)) %></div>
	<div class="row global-divider-top" id="poem_dashboard">
		<div class="col-xs-3">
		</div>
		<div class="col-xs-6">
			<h4>Created:</h4>
			<h6><%= raw(display_date(poem.created_at)) %></h6>
			<h6><%= raw(display_time(poem.created_at)) %></h6>
			<h4>Updated:</h4>
			<h6><%= raw(display_date(poem.updated_at)) %></h6>
			<h6><%= raw(display_time(poem.updated_at)) %></h6>
		</div>
		<div class="col-xs-3">
		</div>
	</div>
	<div class="row global-divider-bottom">
		<div class="col-xs-6">
			<h3>Upvotes:</h3>
			<h4><%= poem.upvotes_count %></h4>
		</div>
		<div class="col-xs-6">
			<h3>Downvotes:</h3>
			<h4><%= poem.downvotes_count %></h4>
		</div>
	</div>
	<% if policy(poem).vote? %>
		<%= render partial: 'layouts/forms/global_row_with_two_half_width_button_only_forms', locals: { action_left: poem_voters_path(poem), method_left: :post, content_left: "#{fa_icon("thumbs-up")} Upvote", value_left: "1", action_right: poem_voters_path(poem), method_right: :post, content_right: "#{fa_icon("thumbs-down")} Downvote", value_right: "-1" } %>
	<% elsif current_user.upvoting?(poem) || current_user.downvoting?(poem) %>
		<%= render partial: 'layouts/forms/global_one_centered_half_width_button_only_form', locals: { action: poem_voter_path(poem, current_user), method: :delete, content: "#{fa_icon("bomb")} #{ current_user.upvoting?(poem) ? "Upvote" : "Downvote" }", data: { confirm: data_confirm_message } } %>
	<% end %>
	<%= render partial: 'layouts/forms/global_one_centered_half_width_button_only_form', locals: { action: user_poem_commentaries_path(poem.author, poem), method: :get, content: "#{fa_icon("file-text")} Comments" } %>
</div>