<div class="jumbotron shadow">
	<h1 class="text-center">
	  <%= root_page_title %>
	</h1>
	<h2 class="text-center">
	  <em>
	    <%= root_page_tagline %>
	  </em>
	</h2>
</div>
<img src="<%= asset_path('the-petticoat-duellists.jpg') %>" class="img-rounded center-block shadow" alt="Petticoat Duelists" id="title_image">
	<div class="jumbotron">
		<div class="row">
			<div class="col-xs-4">
			IPSUM LOREM
			</div>
			<div class="col-xs-4">
<%= link_to "Sign in with Facebook",user_facebook_omniauth_authorize_path %>
			</div>
			<div class="col-xs-4">
			<%= fa_stacked_icon "dollar inverse", base: "circle", class: "fa-5x" %>
			</div>
		</div>
	</div>