<div class="global-jumbotron">
	<h1>
	  <%= root_page_title %>
	</h1>
	<h2>
	  <em>
	    <%= root_page_tagline %>
	  </em>
	</h2>
</div>
<img src="<%= asset_path('the-petticoat-duellists.jpg') %>" class="center-block" alt="Petticoat Duelists" id="root_page_title_image">
<% if !user_signed_in? %>
	<div class="row">
		<div class="col-xs-6">
			<%= link_to new_user_registration_path do %>
				<div class="global-jumbotron">
					<h2 class="text-center">Sign up</h2>
				</div>
			<% end %>
		</div>
		<div class="col-xs-6">
			<%= link_to new_user_session_path do %>
				<div class='global-jumbotron'><h2 class='text-center'>Log in</h2></div>
			<% end %>
		</div>
	</div>
<% else %>
	<a href="/forum_threads">
		<div class="global-jumbotron">
			<h2 class="text-center">View Threads</h2>
		</div>
	</a>
<% end %>