<div class="row global-divider-top indexable-user-template">
	<div class="col-xs-4">
		<br>
		<h3><%= link_to user.username, user_path(user), class: "username" %></h3>
		<h4><em class="role"><%= render_role_for(user) %></em></h4>
		<h4>Joined:</h4>
		<h6 class="created-at-date"><%= raw(render_date(user.created_at)) %></h6>
		<h6 class="created-at-time"><%= raw(render_time(user.created_at)) %></h6>
		<br>
	</div>
	<div class="col-xs-8">
		<br>
		<br>
		<br>
		<h3><%= raw("<span class='score'>#{user.score}</span><br>(<span class='rounded-score-per-poem'>#{render_score_per_poem_for(user)}</span>)")  %></h3>
		<br>
	</div>
</div>