<div class="global-jumbotron" id="user_dashboard">
	<div class ="row">
		<div class="col-xs-4">
			<% if current_user.administrator? || current_user.superuser? || current_user == user %>
				<% url = current_user.administrator? || current_user.superuser? ? edit_admin_user_path(user) : edit_user_registration_path(user) %>
				<%= form_tag url, method: :get do %>
					<%= button_tag class: "btn global-form-btn" do %>
						<%= fa_icon("pencil-square-o") %> Edit
					<% end %>
				<% end %>
			<% end %>
		</div>
		<div class="col-xs-4">
		</div>
		<div class="col-xs-4">
			<% if policy(user).ban? %>
				<%= form_tag mod_user_path(user), method: :patch do %>
					<%= button_tag class: "btn global-form-btn" do %>
						<% if user.banned? %>
							<%= fa_icon("ban") %> Ban
						<% else %>
							<%= fa_icon("check-circle") %> Unban
						<% end %>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>