<div class="global-jumbotron" id="user_dashboard">
	<% if policy(:access).admin? || current_user == user %>
		<%= render partial: 'layouts/forms/global_one_centered_half_width_button_only_form', locals: { action: policy(:access).admin? ? edit_admin_user_path(user) : edit_user_registration_path, method: :get, content: "#{fa_icon("pencil-square-o")} Edit" } %>
	<% end %>
	<% if policy(user).ban? %>
		<%= render partial: 'layouts/forms/global_one_centered_half_width_button_only_form', locals: { action: mod_user_path(user), method: :patch, content: user.banned? ? "#{fa_icon("check-circle")} Unban" : "#{ fa_icon("ban") } Ban", data: { confirm: data_confirm_message } } %>
	<% end %>
	<div class="row global-divider-top">
		<div class="col-xs-3">
		</div>
		<div class="col-xs-6">
			<h3>Email:</h3>
			<h4><%= user.email %></h4>
			<h3>Joined:</h3>
			<h4><%= display_date(user.created_at) %></h4>
			<h4><%= display_time(user.created_at) %></h4>
			<h3>Genres:</h3>
			<h4><%= render_genres_for(user) %></h4>
		</div>
		<div class="col-xs-3">
		</div>
	</div>
	<div class="row global-divider-top">
		<div class="col-xs-3">
		</div>
		<div class="col-xs-6">
			<h3>Score:</h3>
			<h4><%= user.score %></h4>
			<h3>Per Poem:</h3>
			<h4><%= user.score_per_poem %></h4>
		</div>
		<div class="col-xs-3">
		</div>
	</div>
	<div class="row global-divider-bottom">
		<div class="col-xs-6">
			<h3>Fans:</h3>
			<h4><%= user.fans_count %></h4>
			<h3>Idols:</h3>
			<h4><%= user.idols_count %></h4>
		</div>
		<div class="col-xs-6">
			<h3>Rivals:</h3>
			<h4><%= user.rivals_count %></h4>
			<h3>Victims:</h3>
			<h4><%= user.victims_count %></h4>
		</div>
	</div>
	<% if policy(user).relationship? %>
		<%= render partial: 'layouts/forms/global_row_with_two_half_width_button_only_forms', locals: { action_left: idol_fans_path(user), method_left: :post, content_left: "#{fa_icon("thumbs-up")} Idolize", action_right: victim_rivals_path(user), method_right: :post, content_right: "#{fa_icon("thumbs-down")} Victimize" } %>
	<% elsif current_user != user %>
		<%= render partial: 'layouts/forms/global_one_centered_half_width_button_only_form', locals: { action: current_user.idolizing?(user) ? idol_fan_path(user, current_user) : victim_rival_path(user, current_user), method: :delete, content: "#{fa_icon("bomb")} #{ current_user.idolizing?(user) ? "Fandom" : "Rivalry" }", data: { confirm: data_confirm_message } } %>
	<% end %>
	<%= render partial: 'layouts/forms/global_one_centered_half_width_button_only_form', locals: { action: user_poems_path(user), method: :get, content: "#{fa_icon("file-text")} Poems" } %>
</div>