<div class="global-jumbotron" id="omniauth_log_in">
  <h3>If you have another account with one of the following providers:</h3>
  <div class="row">
    <div class="col-xs-3">
      <form method="get" action="<%=omniauth_authorize_path(resource_name, :amazon) %>">
        <button class="btn global-form-btn" type="submit"><%= fa_icon "amazon" %></button>
      </form>
    </div>
    <div class="col-xs-3">
      <form method="get" action="<%=omniauth_authorize_path(resource_name, :facebook) %>">
        <button class="btn global-form-btn" type="submit"><%= fa_icon "facebook-official" %></button>
      </form>
    </div>
    <div class="col-xs-3">
      <form method="get" action="<%=omniauth_authorize_path(resource_name, :google_oauth2) %>">
        <button class="btn global-form-btn" type="submit"><%= fa_icon "github" %></button>
      </form>
    </div>
    <div class="col-xs-3">
      <form method="get" action="<%=omniauth_authorize_path(resource_name, :google_oauth2) %>">
        <button class="btn global-form-btn" type="submit"><%= fa_icon "google" %></button>
      </form>
    </div>
  </div>
  <h3>And it has the same email address as your <em><strong><%= project_title %></strong></em> account, you may use it to log in.</h3>
</div>