<div class="global-jumbotron">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "global-form-half-width" }) do |f| %>

    <div class="form-group">
      <%= f.label :username %><br />
      <%= f.text_field :username, autofocus: true, class: "form-control global-form-input" %>
    </div>

    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control global-form-input" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <%= render partial: 'layouts/forms/form_for/checkbox', locals: {form_builder: f, method_symbol: :remember_me, label: "Remember me"} %>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: "btn global-form-btn" %>
    </div>
  <% end %>
</div>
<%= render "devise/sessions/omniauth_login" %>
<%= render 'devise/shared/buttons' %>
