<div class="global-jumbotron" id="global_title">
  <h1><%= new_user_session_page_title %></h1>
  <h2><em><%= new_user_session_page_tagline %></em></h2>
</div>

<div class="global-jumbotron">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "global-form-half-width" }) do |f| %>

    <div class="form-group">
      <%= f.label :username %><br />
      <%= f.text_field :username, autofocus: true, class: "form-control global-form-input" %>
    </div>

    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control global-form-input" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <%= render partial: 'layouts/form_for/checkbox', locals: {model: f, method_sym: :remember_me, content: "Remember me"} %>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: "btn global-form-btn" %>
    </div>
  <% end %>
</div>
<%= render "devise/sessions/omniauth_login" %>
<%= render 'devise/shared/buttons' %>
