<div style="display: none;" id="indexable_commentary_edit_and_delete_buttons_template">
	<%= render partial: 'commentaries/indexable_commentary_edit_and_delete_buttons_template', locals: { commentary: commentaries.first } %>
</div>
<div class="global-jumbotron" id="commentaries_dashboard">
	<%= render partial: 'layouts/forms/global_one_centered_half_width_button_only_form', locals: { action: new_user_poem_commentary_path(params[:user_id], params[:poem_id]), method: :get, content: "#{fa_icon("pencil-square-o")} Comment" } %>
	<div id="commentaries_index">
		<% commentaries.each do |commentary| %>
			<%= render partial: 'commentaries/indexable_commentary_template', locals: { commentary: commentary } %>
			<% if policy(commentary).update? %>
				<%= render partial: 'commentaries/indexable_commentary_edit_and_delete_buttons_template', locals: { commentary: commentary } %>
			<% end %>
		<% end %>
	</div>
	<div class="row global-divider-bottom"></div>
<%= render partial: 'layouts/forms/global_one_centered_half_width_button_only_form', locals: { action: new_user_poem_commentary_path(params[:user_id], params[:poem_id]), method: :get, content: "#{fa_icon("pencil-square-o")} Comment" } %>
</div>