<!DOCTYPE html>
<html>
  <head>
    <title><%= project_title %></title>
    <%= csrf_meta_tags %>

    <%= render 'layouts/stylesheet_links' %>
  </head>
  <body>
  	<%= render 'layouts/navbar' %>
    <div class="container-fluid text-center" id="top">
      <div class="<%= current_page?(aqm_path) ? "" : "width-80-pct-centered" %>">
        <%= yield %>
        <div class="shadow center-block seventh-width" id="credit_box">
          <footer class="text-center">Coded by <a href="http://samlair.com" target="_blank">Samuel Lair</a>.</footer>
        </div>
      </div>
    </div>
    <%= render 'layouts/scripts' %>
  </body>
</html>
