<!DOCTYPE html>
<html>
  <head>
    <script data-current-path-name="<%= current_path_name %>" id="current_path_name"></script>
    <title><%= project_title %></title>
    <%= csrf_meta_tags %>
    <%= render 'layouts/stylesheet_links' %>
  </head>
  <body>
  	<%= render 'layouts/navbar' %>
    <div class="<%= current_page?(aqm_path) ? "container-fluid" : "container" %> global-font-family text-center" id="top">
      <%= render 'layouts/flash_messages' %>
      <% if current_path_name != "aqm" && (self.respond_to?("#{current_path_name}_page_title") || self.respond_to?("#{current_path_name}_page_tagline")) %>
        <% if local_assigns.has_key?(:model) %>
          <%= render partial: 'layouts/title', locals: { model: model } %>
        <% else %>
          <%= render 'layouts/title' %>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
    <div class="container global-font-family text-center">
        <div class="shadow center-block seventh-width" id="credit_box">
          <footer class="text-center">Coded by <a href="http://samlair.com" target="_blank">Samuel Lair</a>.</footer>
      </div>
    </div>
    <%= render 'layouts/scripts' %>
  </body>
</html>
